Status report from Date Extract Facility
(if your e-mail client supports HTML, an HTML version is available)

Name: [% job.name %]
Description: [% job.description %]
First ran: [% status.first_run %]
Last ran: [% status.last_run %]
Next run: [% status.next_run %]
Number of runs: [% status.cnt_runs %]

Past ten runs:

[% FOREACH r IN status.runs %]
Job ID: [% r.id %]
Placeholder Date: [% r.placeholder_date %]
[% IF status.has_filename %]Filename: [% r.output_file %][% END %]
[% FOREACH rr IN r.results %]
  Started: [% rr.started_dt.strftime('%F %T.%3N%z') %]
  Finished: [% rr.finished_dt.strftime('%F %T.%3N%z') %]
  Run time: [% rr.run_time %]
  Rows recorded: [% rr.rows_recorded %]
  Error: [% rr.error %]

  [% END %]

[% END %]
